@import 'base.css';

#app {
  padding-left: 3vw;
  padding-right: 3vw;

  font-weight: normal;
}

@media only screen and (min-width: 768px) {
  #app {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
